div1 {
    box-shadow: 1px 1px 2px black;
    text-shadow: 2px 2px 3px black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    font-family: Diplomata;
}

body{
    background-color: black;
}

.msa {
    box-shadow: 3px 3px 10px white;
    background-color: forestgreen;
    color: white;
}

.is_trashed{
    background: rgb(243, 226, 226);
}

.is_not_trashed{
    background: rgb(192, 255, 197);
}
